.wrapper {
    width: 46rem;
    display: flex;
    justify-self: center;
    position: relative;
    top: -1.6875rem;
}

.wrapper form {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 0.5rem;
}

.wrapper form input {
    flex: 1;
    border-radius: 8px;
    border: 1px solid var(--Gray-700, #0d0d0d);
    background: var(--Gray-500, #262626);
    padding: 1rem;
    color: var(--Gray-100);
}

.wrapper form button {
    border-radius: 8px;
    background: var(--Blue-Dark, #1e6f9f);
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Gray-100, #f2f2f2);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 140%;
}
